.location-container {
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: -50px;
}

.location-card {
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  width: 880px;
  min-height: 520px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 3px solid #f2c300;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.location-image {
  width: 100%;
  height: 600px;
  background-color: #fafafa;
  border-bottom: 2px solid #f2c300;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.location-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


.location-content {
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.location-title {
  display: flex;
    justify-content: space-between;
}

.button-fav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: fit-content;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: #f2c20081;
    box-shadow: 0px 2px 6px rgb(255, 251, 0);
    cursor: pointer;
    transition: transform 0.15s ease, background-color 0.15s ease;
}

.button-fav:active {
    transform: scale(1.1);
}

.clicked {
    background-color: #f2c300;
}

.star-clicked{
    color: white;
}

.location-name {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #222222;
}

.location-meta {
  display: flex;
  gap: 40px;
  font-size: 18px;
}

.location-meta p {
  margin: 0;
  color: #444444;
}

@media (max-width: 768px) {

  .location-container {
    padding: 20px;
  }

  .location-card {
    width: 100%;
    min-height: auto;
    margin-top: -100px
  }

  .location-image {
    height: 220px;
  }

  .location-image img {
    max-width: 100%;
  }

  .location-content {
    padding: 20px;
  }

  .location-name {
    font-size: 24px;
  }

  .location-meta {
    flex-direction: column;
    gap: 12px;
    font-size: 15px;
  }
}